<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}Internisa
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
											and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}


			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/animate.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/fontawesome.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/flaticon.css')}}">
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/nice-select.css')}}">
			<link rel="stylesheet" href="{{ asset('css/slick.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/meanmenu.css')}}">
			<link rel="stylesheet" href="{{ asset('css/odometer.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">
			<link rel="stylesheet" href="{{ asset('css/responsive.css')}}">

			<link rel="icon" type="image/png" href="{{ asset('img/favicon.png')}}">


		{% endblock %}

		{% block javascripts %}


			<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
			<script src="{{ asset('js/jquery.min.js')}}"></script>
			<script src="{{ asset('js/popper.min.js')}}"></script>
			<script src="{{ asset('js/bootstrap.min.js')}}"></script>
			<script src="{{ asset('js/jquery.meanmenu.js')}}"></script>
			<script src="{{ asset('js/jquery.nice-select.min.js')}}"></script>
			<script src="{{ asset('js/slick.min.js')}}"></script>
			<script src="{{ asset('js/jquery.magnific-popup.min.js')}}"></script>
			<script src="{{ asset('js/jquery.appear.min.js')}}"></script>
			<script src="{{ asset('js/odometer.min.js')}}"></script>
			<script src="{{ asset('js/owl.carousel.min.js')}}"></script>
			<script src="{{ asset('js/parallax.min.js')}}"></script>
			<script src="{{ asset('js/wow.min.js')}}"></script>
			<script src="{{ asset('js/form-validator.min.js')}}"></script>
			<script src="{{ asset('js/contact-form-script.js')}}"></script>
			<script src="{{ asset('js/main.js')}}"></script>

		{% endblock %}


	</head>

<div class="preloader">
	<div class="loader">
	<div class="shadow"></div>
	<div class="box"></div>
	</div>
	</div>
	
	
	<section class="error-area">
	<div class="d-table">
	<div class="d-table-cell">
	<div class="container">
	<div class="error-content">
	<img src="/img/404.png" alt="error">
	<h3>الصفحة غير موجودة 
	</h3>
	<p>ربما تمت إزالة الصفحة التي تبحث عنها وتغيير اسمها أو أنها غير متاحة مؤقتًا. 
	</p>
	<a href="{{path('home')}}" class="btn btn-primary">اذهب الى الصّفحة الرّئيسيّة</a>
	</div>
	</div>
	</div>
	</div>
	</section>
	
	</body>
	
	<!-- Mirrored from templates.envytheme.com/luvion/default/error-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Jun 2021 08:42:26 GMT -->
	</html>

