<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}Internisa
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
											and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}


			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/animate.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/fontawesome.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/flaticon.css')}}">
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/nice-select.css')}}">
			<link rel="stylesheet" href="{{ asset('css/slick.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/meanmenu.css')}}">
			<link rel="stylesheet" href="{{ asset('css/odometer.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">
			<link rel="stylesheet" href="{{ asset('css/responsive.css')}}">

			<link rel="icon" type="image/png" href="{{ asset('img/favicon.png')}}">


		{% endblock %}

		{% block javascripts %}


			<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
			<script src="{{ asset('js/jquery.min.js')}}"></script>
			<script src="{{ asset('js/popper.min.js')}}"></script>
			<script src="{{ asset('js/bootstrap.min.js')}}"></script>
			<script src="{{ asset('js/jquery.meanmenu.js')}}"></script>
			<script src="{{ asset('js/jquery.nice-select.min.js')}}"></script>
			<script src="{{ asset('js/slick.min.js')}}"></script>
			<script src="{{ asset('js/jquery.magnific-popup.min.js')}}"></script>
			<script src="{{ asset('js/jquery.appear.min.js')}}"></script>
			<script src="{{ asset('js/odometer.min.js')}}"></script>
			<script src="{{ asset('js/owl.carousel.min.js')}}"></script>
			<script src="{{ asset('js/parallax.min.js')}}"></script>
			<script src="{{ asset('js/wow.min.js')}}"></script>
			<script src="{{ asset('js/form-validator.min.js')}}"></script>
			<script src="{{ asset('js/contact-form-script.js')}}"></script>
			<script src="{{ asset('js/main.js')}}"></script>

		{% endblock %}


	</head>


	<div class="preloader">
		<div class="loader">
			<div class="shadow"></div>
			<div class="box"></div>
		</div>
	</div>


	<section class="signup-area">
		<div class="row m-0">
			<div class="col-lg-6 col-md-12 p-0">
				<div class="signup-image">
					<img src="assets/img/signup-bg.jpg" alt="image">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 p-0">
				<div class="signup-content">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="signup-form">
								<h3>افتح الحساب الخاص بك الآن</h3>
								<p>لديك حساب معنا؟
									<a href="{{path('connexion')}}">صفحة الدّخول</a>
								</p>
								{{form_start(form)}}
								<div class="form-group">
									{{form_row(form.username,{
                            "attr": {
                                "class" : "form-control",
                                "type" : "text",
                                "name" : "username-register",
                                "id" : "emailaddress-register",
                                "placeholder": "اسم المستخدم"
                            },
                    })}}
								</div>
								<div class="form-group">
									{{form_row(form.email,{
                            "attr": {
                                "placeholder": "البريد الالكتروني",
                                "class" : "form-control"
                            },
                    })}}
								</div>

								<div class="form-group" data-tippy-placement="bottom" data-tippy="" data-original-title="Should be at least 8 characters long">
									{{form_row(form.password,{
                            "attr": {
                                "placeholder": "كلمة المرور",
                                "class" : "form-control"
                            },
                    })}}
								</div>
								<div class="form-group" data-tippy-placement="bottom" data-tippy="" data-original-title="Should be at least 8 characters long">
									{{form_row(form.passwordVerification,{
                            "attr": {
                                "placeholder": "تأكيد كلمة المرور",
                                "class" : "form-control"
                            },
                    })}}
								</div>


								<div class="form-group">
									{{form_row(form.firstname,{
                            "attr": {
                                "placeholder": "الإسم",
                                "class" : "form-control"
                            },
                    })}}
								</div>
								<div class="form-group">
									{{form_row(form.lastname,{
                            "attr": {
                                "placeholder": "اللّقب",
                                "class" : "form-control"
                            },
                    })}}
								</div>
								<div class="form-group">
									{{form_row(form.numTel,{
                            "attr": {
                                "placeholder": "رقم الهاتف",
                                "class" : "form-control"
                            },
                    })}}
								</div>
								<div class="form-group">
									{{form_row(form.adresse,{
                            "attr": {
                                "placeholder": "العنوان",
                                "class" : "form-control"
                            },
                    })}}
								</div>
								<div class="form-group">
									{{form_row(form.pays,{
                            "attr": {
                                "placeholder": "البلد",
                                "class" : "form-control"
                            },
                    })}}
								</div>

								{{form_widget(form)}}
								<!-- Button -->
								<button type="submit" class="btn btn-primary">التّسجيل</button>
								{{form_end(form)}}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</html>
