<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}Internisa
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
									and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}


			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/animate.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/fontawesome.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/flaticon.css')}}">
			<link rel="stylesheet" href="{{ asset('css/magnific-popup.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/nice-select.css')}}">
			<link rel="stylesheet" href="{{ asset('css/slick.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/meanmenu.css')}}">
			<link rel="stylesheet" href="{{ asset('css/odometer.min.css')}}">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">
			<link rel="stylesheet" href="{{ asset('css/responsive.css')}}">

			<link rel="icon" type="image/png" href="{{ asset('img/favicon.png')}}">


		{% endblock %}

		{% block javascripts %}


			<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
			<script src="{{ asset('js/jquery.min.js')}}"></script>
			<script src="{{ asset('js/popper.min.js')}}"></script>
			<script src="{{ asset('js/bootstrap.min.js')}}"></script>
			<script src="{{ asset('js/jquery.meanmenu.js')}}"></script>
			<script src="{{ asset('js/jquery.nice-select.min.js')}}"></script>
			<script src="{{ asset('js/slick.min.js')}}"></script>
			<script src="{{ asset('js/jquery.magnific-popup.min.js')}}"></script>
			<script src="{{ asset('js/jquery.appear.min.js')}}"></script>
			<script src="{{ asset('js/odometer.min.js')}}"></script>
			<script src="{{ asset('js/owl.carousel.min.js')}}"></script>
			<script src="{{ asset('js/parallax.min.js')}}"></script>
			<script src="{{ asset('js/wow.min.js')}}"></script>
			<script src="{{ asset('js/form-validator.min.js')}}"></script>
			<script src="{{ asset('js/contact-form-script.js')}}"></script>
			<script src="{{ asset('js/main.js')}}"></script>

		{% endblock %}


	</head>


	<div class="preloader">
		<div class="loader">
			<div class="shadow"></div>
			<div class="box"></div>
		</div>
	</div>


	<section class="login-area">
		<div class="row m-0">
			<div class="col-lg-6 col-md-12 p-0">
				<div class="login-image">
					<img src="assets/img/login-bg.jpg" alt="image">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 p-0">
				<div class="login-content">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="login-form">
								<div class="logo">
									<a href="{{path('home')}}"><img src="img/logosqli.jpg" width="100px" alt="image"></a>
								</div>
								<h3>مرحبا بك مجدّدا</h3>
								<p>جديد معنا؟
									<a href="{{path('inscription')}}">تسجيل حساب جديد</a>
								</p>
								{% if error %}

									<div class="notification error closeable">
										Les inoformations sont incorrectes
									</div>
								{% endif %}
								<form action="{{path('connexion')}}" method="post" id="login-form">
									<div class="form-group">
										<input type="text" class="form-control" name="_username" id="emailaddress" placeholder="اسم المستخدم" required/>
									</div>

									<div class="form-group">
										<input type="password" class="form-control" name="_password" id="password" placeholder="كلمة السر" required/>
									</div>
								</form>

								<!-- Button -->
								<button class="btn btn-primary" type="submit" form="login-form">دخول
								</button>

								<form>
								<div class="forgot-password">
									<a href="#">
										نسيت كلمة المرور؟</a>
									</div>
									<div class="connect-with-social">
									<button type="submit" class="facebook"><i class="fab fa-facebook-square"></i> Connect with Facebook</button>
									<button type="submit" class="google"><i class="fab fa-google"></i> Connect with Google</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</html>


